body {
    font-family: "Inter", sans-serif;
    background-color: var(--grey-dark);
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: var(--grey-medium);
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    text-align: center;
}

.container .avatar {
    width: 80px;
    border-radius: 50%;
    margin-top: 38px;
    margin-bottom: 24px;
}

.container .name {
    color: var(--white);
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 10px;
}

.container .local {
    color: var(--green);
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 20px;
}

.container .description {
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 25px;
}

.container .social-links .socials {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 40px;
}

.container .social-links .socials li {
    display: flex;
    flex-direction: column;
}

.container .social-links .socials li a {
    background-color: var(--grey-soft);
    color: var(--white);
    padding: 12px 85px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.container .social-links .socials li a:hover {
    background-color: var(--green);
    color: #000000;
}

.attribution {
    font-size: 10px;
    position: absolute;
    bottom: 0;
    color: var(--white);
}

.attribution a {
    color: var(--green);
}